.component{
    border: black solid 5px ;
    background-color: wheat;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 10px;
}
.img{
    height: 60px;
    margin: 10px 0;
}
.input{
    margin-top: 30px;
    height: 15px;
    width: 35px;
}
.paragraphe{
    margin-top: 30px;
    font-family: cursive;
    font-size: 15px;
    font-weight: bold;
}
.cart{
    background-color: #7e7b7b;
    margin: 0;
    padding-bottom: 1px;
}
.word{
    font-weight: 700;
    color: white;
}

.container{
    display: flex;
    justify-content: space-evenly;
}
h1{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}